<h2>Recent Created Games</h2>

<%= display_notice %>

<table>
  <tr>
	<th>Date</th>
    <th>Score</th>
    <th>Duration</th>
    <th></th>
  </tr>

  <% @games.each do |game| %>
    <a href="\"><tr class="finished <%=cycle 'odd', 'even'%>">
  	  <td><%= time_ago_in_words(game.created_at) + " ago" %></td>
      <td><%= game.score %></td>
      <td><%= display_game_duration game %></td>
      <td class="actions">
        <%= link_to_icon :show,    game %>
        <%= link_to_icon :destroy, game, :confirm => 'Are you sure that you want to delete this game?', :method => :delete %>
	  </td>
    </tr></a>
  <% end %>
</table>