<div id="bowlingGameScore">
  <%= render @game.game_frames %>
</div>

<%= display_notice %>

<div id="totalScore">
  Total Score: <%= @game.score %>
</div>

<div id="gamePad">
  <%- if @game.finished? -%>
    <h3>THE GAME HAS FINISHED</h3>
  <%- else -%>
    <%= form_for @game do |game| %>
      <%= label_tag      :pins_down, "Pins down:" %>
      <%= text_field_tag :pins_down, "" %>
      <%# game.submit 'Roll!', :class => "button" %> 
    <%- end -%>
  <%- end -%>
</div>

<script type="text/javascript">
  window.onload = function() { document.getElementById('pins_down').focus();}
</script>

