<div class="frame">
  <%=display_ball("ballOne",frame.number, frame.pins_knocked_down_by_ball_one, frame.strike?, "X")%>
  <% if frame.strike? && frame.pins_knocked_down_by_ball_two == 10 %>
    <%= display_ball("ballTwo",frame.number, frame.pins_knocked_down_by_ball_two, true, "X")%>
  <% else %>
    <%=display_ball("ballTwo",frame.number, frame.pins_knocked_down_by_ball_two, frame.spare?, "/")%>
  <% end %>
  <%= display_ball("ballThree","", frame.next_frame.pins_knocked_down_by_ball_one, frame.next_frame.strike?, "X") if frame.last?%>
  <div class="frameScore"><%= frame.score %></div>
</div>