<!DOCTYPE html>
<html>
<head>
  <title>Bowling</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <a href="https://github.com/regedor/bowling"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"></a>
  <h1><%= link_to "Bowling Game", root_path%></h1>
  <div id="content">	
    <%= yield %>
  </div>
  <footer><%= display_footer %></footer>
</body>
</html>
